<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
      <!-- Button trigger modal -->
      <button
        type="button"
        class="btn btn-outline-primary btn-sm"
        data-toggle="modal"
        data-target="#add-modal"
      >
        Tambah data
      </button>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table
          class="table table-bordered"
          id="dataTable"
          width="100%"
          cellspacing="0"
        >
          <thead>
            <tr>
              <th>No</th>
              <th>judul_buku</th>
              <th>penulis</th>
              <th>penerbit</th>
              <th>jumlah_buku</th>
              <th>Aksi</th>
            </tr>
          </thead>
          <tbody>
            <% for(let i = 0; i < perpustakaan.length; i++){ %>
            <tr>
              <td><%= i +1 %></td>
              <td><%= perpustakaan[i].judul_buku %></td>
              <td><%= perpustakaan[i].penulis %></td>
              <td><%= perpustakaan[i].penerbit %></td>
              <td><%= perpustakaan[i].jumlah_buku %></td>
              <td class="text-center">
                <form action="/perpustakaan/<%= perpustakaan[i].id %>?_method=DELETE" method="POST">
                <a
                  href="javascript:void()"
                  class="btn btn-outline-warning btn-sm button-update"
                  data-id="<%= perpustakaan[i].id %>"
                  data-judul_buku="<%= perpustakaan[i].judul_buku %>"
                  data-penulis="<%=perpustakaan[i].penulis %>"
                  data-penerbit="<%= perpustakaan[i].penerbit %>"
                  data-jumlah_buku="<%= perpustakaan[i].jumlah_buku %>"
                  >Edit</a>
                <button type="submit" class="btn btn-outline-danger btn-sm" onclick="return confirm('Apakah kamu yakin ingin hapus data?');">
                  Delete
                </button>
                </form>
              </td>
            </tr>
            <% } %>
          </tbody>
        </table>
      </div>
    </div>
  </div>